{% extends 'base.html' %}
{% load poll_extras %}
{% block category_menu %}
{% comment %}
<div class="col-md-3 list-group">
    {% category_tag as category %}
    {% for names in category%}
    {% url 'cat' names.pk as active_url %}
    {% if request.get_full_path == active_url %}
    {% if category_id == names.pk %}
    <a href="{% url 'cat' names.pk %}" class="list-group-item active">{{names.title}}</a>
    {% else %}
    <a href="{% url 'cat' names.pk %}" class="list-group-item">{{names.title}}</a>
    {% endif %}
    {% endfor %}
</div>
{% endcomment %}
{% category_inc category_id %}
{% endblock %}
{% block news %}
<div class="col-md-9 ">
    {% for news in articles%}
    {% autoescape off %}
    <!--            {% if news.is_published %}-->
    <div class="card border-secondary mb-3">
        {% if news.image%}
        <img src="{{news.image.url}}" class="card-img-top" style="width: 30rem;" alt="...">
        {% else %}
        <img src="https://img.championat.com/s/732x488/news/big/e/m/v-vada-zayavili-chto-valievoj-pozhertvovali-radi-zaschity-lic-davshih-ej-preparat_1710766928308767205.jpg"
             class="card-img-top" style="width: 30rem;" alt="...">
        {% endif %}
        <div class="card-body">
            <h6>Категория: {{news.category}}</h6>
            <h5 class="card-title">{{news.title}}</h5>
            <p class="card-text">{{news.content|truncatewords:30}}</p>
            <p>{{news.update_date}}</p>
            <a href="{% url 'art' news.id %}" class="btn btn-primary">Полностью</a>
        </div>
    </div>
    <!--            {% endif %}-->
    {% endautoescape %}
    {%endfor%}
    {% if articles.has_previous %}
    <a href="?articles={{ articles.previous_page_number }}">Назад</a>
    {% endif %}
    {% if articles.has_next %}
    <a href="?articles={{ articles.next_page_number }}">Вперед</a>
    {% endif %}
</div>
{% endblock %}
