{% load poll_extras %}
{% load cache %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мутко News {{title}}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        {% include 'inc/navbar.html' %}
        {% current_time "%Y-%m-%d %H:%M" as the_time %}
        <p>Текущее время: {{ the_time }}.</p>
        {% include 'inc/messages.html' %}
        {% block category_menu %}
        {% endblock %}
        {% block news %}
        {% endblock %}
        {% if is_paginated %}{% include 'inc/pagination_nav.html' %}{% endif %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>